html, body{
    height: 100%;
    margin: 0;
}

.containter {
margin: 0 auto;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
background-color: #006666;
color: #e6ffff;
overflow: hidden;
text-align: center;
align-items: center;
justify-content: center;
table-layout: center;
}
.containter table{
    text-align: center;
    align-items: center;
    justify-content: center;
    table-layout: center;

}